body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #004080;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

main {
  display: flex;
  padding: 20px;
  gap: 20px;
}

article {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.gambar-trump {
  margin-top: 50px; /* Jarak dari atas */
  text-align: center; /* Atur posisi di tengah kolom */
}

.wiki-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 0;
}

.wiki-table caption {
  font-weight: bold;
  margin-bottom: 10px;
}

.wiki-table th,
.wiki-table td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: center;
}

.wiki-table thead {
  background-color: #f2f2f2;
}

.naik {
  color: green;
  font-weight: bold;
}

.turun {
  color: red;
  font-weight: bold;
}

.artikel img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

aside {
  flex: 3;
  background: #eee;
  padding: 15px;
  border-radius: 10px;
}

footer {
  text-align: center;
  background: #333;
  color: rgb(255, 255, 255);
  padding: 1em;
}

.coin-icon {
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
}


